# Ignore all pictures
CharacterSpotting/sentencesCompressedOriginal/
CharacterSpotting/sentencesCompressed/
CharacterSpotting/sentencesCompressedSubset40K/
CharacterSpotting/sentencesCompressedPadded
CharacterSpotting/testSet/
CharacterSpotting/trainEvalSet/
CharacterSpotting/xml/
CharacterSpotting/txts/
